<!DOCTYPE html>
<html ng-app="app" >
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="src/css/main.css">
    <link rel="stylesheet" href="src/css/ArturasR.css">






    <script src="src/js/angular.min (1).js" type="application/javascript"></script>
    <script src="src/js/Arturas.js"></script>

    <title>Pagrindinis</title>
</head>
<body>
<div class="ar" ng-controller="ArturasRaguckas as ar">


    <div>
        <ul class="meniu">
            <li> <a href="Ignas.html">Sigis</a></li>
            <li> <a href="povilas.zilionis.html">Sigucio</a></li>
            <li><a href="VaidasS.html">O cia Vyriausias SIGIS</a> </li>

            <div class="Connect">
                <form action="Vartotojo_profilis.html">
                    Vardas:{{ar.test}} <br>
                    <input ng-model="ar.vardas" type="text" name="firstname" id="vardas" placeholder="Vardas" >
                    <br>
                    Pavarde:{{ar.pavarde}}
                    <input ng-bind="ar.pavarde" type="text" name="lastname" id="pavarde" placeholder="Pavarde">
                    <br>
                    <input type="submit" value="Patvirtinti">
                </form>
            </div>

        </ul>
    </div>
    <br>
    <br>
<br>


    <h1>Naujas WEB  {{ar.kintamasis}} </h1>

    <span ng-bind="ar.test"></span>
    <br>
    <div class="picture">
        <img  src="http://m3.i.pbase.com/g3/89/198089/2/121260213.QGt1PFQY.jpg" id="foto" alt="Paveiksliukas" >
    </div>


    <div class="row">
        <button id="slepti" ng-click="ar.par1=!ar.par1">Pasiziurek</button>
        <div class="col-md-8" ng-hide="ar.par1">

            <p title="I am smart">
                "On the other hand,  &nbsp; &nbsp; we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will,
                which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
                In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best,
                every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.
                The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
            </p>

        </div>
        <div class="col-md-4">

            <div class="links">
                <a title="Pamatysi ko nemates" href="Soccer.html">Futbolo naujienos</a>
                <br>
                <a title="O cia tai bus" href="Basketball.html">Krepšinio naujienos</a>
            </div>
            <br>   <button type="button" onclick="alert('Namo isejo')">Kur SIGI padejai ?</button>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rows" id="rows">
        <ul>
            <li ng-repeat="daiktas in ar.masyvas">{{daiktas}}</li>
        </ul>

        <div class="col-md-3 col-xs-4">
            Daug kas galvoja, kad Lorem Ipsum - tai vien tik atsitiktinai surinktas tekstas, bet taip nėra.
            Jo šaknis galima rasti klasikiniame Lotynų kalba parašytame kūrinyje, išleistame 45 pr. m. e.,
            t.y. prieš du tūkstančius metų. Richard McClintock, lotynų kalbos profesorius Hampden-Sydney (JAV) koledže,
            išrinko vieną iš neaiškesnių žodžių iš Lorem Ipsum ištraukos - „consectetur“, ir ėmėsi ieškoti jo klasikinėje lotynų kalbos literatūroje.
            Tokiu būdu jis rado neabejotiną šio žodžio ir Lorem Ipsum šaltinį knygos „de Finibus Bonorum et Malorum“ (Apie gėrio ir blogio ribas) 1.10.32 ir 1.10.33 pastraipose. Kūrinio autorius – Ciceronas, parašęs jį 45 pr. m. e. Šis etikos teorijos traktatas buvo labai populiarus Renesanso laikais.
            Pirmoji Lorem Ipsum teksto eilutė, „Lorem ipsum dolor sit amet..“ sukurta remiantis 1.10.32 pastraipa.
        </div>
        <div class="col-md-3 col-xs-4">
            Yra daug įvarių Lorem Ipsum variantų, bet daugelis jų buvo vienokiu ar kitokiu būdu modifikuoti, pvz.
            jumoristiniai intarpai arba žodžiai, nė kiek nepanasūs i lotynų kalbą. Jeigu Jums reikia Lorem Ipsum teksto rimtam projektui,
            Jūs tikriausiai nenorėtumėte viduryje eilutės kokio nors trikdančio išsireiškimo.
            Visi kiti Lorem Ipsum teksto eilučių generatoriai dažniausiai tik kartoja tą patį tekstą, kol užpildo reikiamus tarpus
        </div>
        <div class="col-md-3 col-xs-4">
            <b>  Todėl čia siūlomas teksto eilučių generatorius yra vienintelis tikras Lorem Ipsum teksto generatorius.
                Jame naudojamas žodynas iš daugiau nei 200 lotynų kalbos žodžių, o taip pat keletas ištisų sakinių modelių.
                Taip surinktas Lorem Ipsum teksto variantas atrodo tikroviškai, nesikartoja, ir jame nėra „neįmanomų“ žodžių.</b>
        </div>
        <div class="col-md-3 col-xs-4">
            <i> Jau seniai žinoma, kad vertinant dizainą ir kompoziciją, blaško skaitomas tekstas. Tad Lorem Ipsum naudojamas tam,
                kad daugiau ar mažiau normalizuotų raidžių paskirstymą vietoje paprasto dubliavimo: „Tekstas tekstas tekstas tekstas...“.
                Daugelis leidybinių sistemų programų,
                o taip pat ir Hiperteksto kalbos redaktoriai naudoja Lorem Ipsum kaip demonstracinę numatyto teksto versiją, todel žodžių „Lorem</i>
        </div>


    </div>


    <script
            src="http://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $('#foto').click(function () {
            alert('Paspaudziau... !!!');

        });

    </script>

    <script>
        $('#rows').click(function () {
            alert('Musu stulpeliai');

        });

    </script>



</div>
</body>

</html>