body {

    background-color: aliceblue;




}

h1 {
    color: #403aff;
    text-align: center

}

p {
    color: darkslateblue;
    text-align: center;
    size: 15px;
}

img {

    width: 500px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    float: right;
}

a {
    float: bottom;
}

ul {

    list-style: none;
    background-color: blueviolet;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 80px;
    position: fixed;
    top: 0;
    box-shadow: cadetblue;

}

li a {
    text-decoration: none;
    color: white;
    font-family: "Segoe Script"
}
