body {
    div: background-color #9F0;
    background-image: url('http://www.planwallpaper.com/static/images/ComputerDesktopWallpapersCollection540_047_inxQEjv.jpg');
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: top;
}



h1{
    color: darkorange;
}
p {
    color: black;
}