body {
    div: background-color #9F0;
    background-image: url('http://i1.wallpaperscraft.com/image/cupcakes_chocolate_cream_dessert_cocoa_beans_80890_1920x1080.jpg');
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: top;
    padding: 0;
    margin: 0;
}



h1{
    color: darkorange;
    font-family: Mistral;
}
p {
    color: white;
    text-align: left;
    font-family: "Caviar Dreams";
}
/*
ul{

    list-style: circle;
    background-color: saddlebrown;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 80px;
    position: fixed;
    top: 0;
    opacity: 0.5;

}
li a {
    text-decoration: none;
    color: white;
    font-family: fantasy;
}
.wraper {
    margin: 20px;
}*/
