body {
    background-color: powderblue;
    background-image: url("http://www.dancezonebournemouth.com/img/backgrounds/portfolio_single.jpg");
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

img {
    text-align: center;
    width: 50%;
    height: 50%;
}

p {
    margin: 10px 0px 10px;
    text-align: center;
    color: red;
}

p1 {
    color: green;
    text-align: center;
    margin: 20px;
}

.row {
    color: #99FF00;
    margin-left: 20px ;
    margin-right: 20px;
}
.meniu {
    list-style: none;
    background-color: #403aff;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 36px;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 15px 5px black;

}

.meniu li {
    float: left;
    padding: 2px;

}

.meniu li:hover {
    background-color: #99FF00;

}

li a {
    text-decoration: none;
    color: white;
}

.wraper {
    margin: 20px;
    margin-top:110px ;
    margin-bottom:14px ;
}
.img {
    text-align: center;
}
/*
.left_side, .right_side {
    float: left;
    width: 50%;
}

.left_side {
    background-color: #F1FF99;
}
.right_side {
    background-color: #FFd284;
}

.test {
    width: 50%;
    background-color: #3485ff;
}*/

p2 {
    text-align: left;
    color: green;
}

.Vardas_pavarde{
    float: left;
    width: 250px;
}

.Lytis {
    float: left;
    width: 100px;
}

.Lytis1 {
    text-align: center;
}

.panel-collapse {
    color: #403aff;
}

.panel-group {
    color: #a0eeff;
}

#headingOne {
    color: brown;
}

.panel-default {
    border-color: antiquewhite;
}